/*
Credit: #
*/

body {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 1.7em;
	background-color: #293611;
	background-image: url(images/grass.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	background-attachment: fixed;
}

a, a:link, a:visited { color:#013811; font-weight: 700; text-decoration: none; font-size: 11px }
a:hover { text-decoration: underline; }

a.gototop { display: block; clear: both; float: right; width: 70px; height: 20px; background: url(images/scroll-top.png) no-repeat }

p { margin: 0 0 5px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 5px;}
cite { font-weight: bold; color: #030; }
cite span { color: #000; }
em { color: #030; font-weight: bold }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 20px; padding: 5px 0 10px; font-weight: 700; border-bottom: 1px solid #030 }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #b9c695; padding: 4px; background: #fff; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 20px 0 0 }
.image_fr { float: right; margin: 3px 0 0 20px }


.tmo_list { margin: 0px 0 0px 0px; padding: 0; list-style: none }
.tmo_list li { color: #000000; margin: 0; padding: 10px 0 0px 25px; background: url(images/templatemo_list.jpg) no-repeat scroll 0 15px  }
.tmo_list li a { color: #F30; font-weight: normal; font-size: 19px; text-decoration: none }
.tmo_list li a:hover { color: #000000; text-decoration: underline }


#site_title { clear: both; width: 760px; height: 40px; padding: 30px 20px }
#site_title h1 { float: left; display: block; width: 500px; margin: 0; padding: 0 }
#site_title h1 a { color: #fff; font-size: 40px; font-weight: 400; outline: none; }
#site_title h1 a:hover { text-decoration: none }
#site_title h1 a span { font-size: 14px }

#social_box {
	float: right;
	display: inline-block
}

#social_box a { display: inline-block; width: 32px; height: 32px; margin-left: 5px }

#templatemo_main {
	clear: both;
	width: 780px;
	padding: 0 0px;
	background: #f5f6bc url(images/templatemo_main_top.jpg) top center no-repeat background-color:rgba(0,152,50,0.5);
}

.content_box {
	clear: both;
	padding: 10px 0;
	margin-bottom: 0; 
	background: url(images/templatemo_footer.png) center bottom repeat-x
}

.content_box_last {
	margin-bottom: 0;
	background: none 
}

.content_box_content {
	padding: 0 0;
}

.col_w340 { width: 340px }
.col_w220 { width: 220px; float: left; }
.col_mr30 { margin-right: 30px }

.post_box { clear: both; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px dashed #626335 }
.post_header { border-top: 3px solid #999; border-bottom: 1px solid #ccc; padding: 5px; margin-bottom: 20px }
.post_box h3 { font-size: 24px; margin-bottom: 15px }
.post_box p.post_meta { font-size: 10px; margin-bottom: 0; padding-bottom: 0 }
.post_box img { float: left; margin-right: 40px; padding: 4px; border: 1px solid #ccc }

#gallery { margin: 0; padding: 0 }
#gallery ul { margin: 0; padding: 0}
#gallery ul li { display: block; float: left; width: 210px; height: 110px; margin: 0 30px 30px 0}
#gallery ul .rm_col { margin: 0 0 30px }
#gallery ul li a img { width: 200px; height: 100px; border: 1px solid #CCC; padding: 4px }

#contact_form { padding: 0; width: 300px }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { width: 290px; padding: 2px 0; color: #666; border: 1px solid #d0d188; background: #f9f9e8; }
#contact_form form label { display: block; width: 100px; margin-right: 0px; font-size: 14px }
#contact_form form textarea { width: 288px; height: 150px; padding: 5px; color: #666; border: 1px solid #d0d188; background: #f9f9e8;  }
#contact_form form .submit_btn { padding: 5px 5px; border: 1px solid #d0d188; background: #f9f9e8; color:#772; }

#templatemo_footer {
	clear: both;
	width: 760px;
	padding: 20px;
	text-align: center;
	color: #e5efc8;
	background: url(images/footer_bg.gif) center top repeat-x
}

#templatemo_footer a {
	color: #fff;
}
